*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
    background: #56667A;
    -webkit-font-smoothing: antialiased;
}

.box{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #8797AF;
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    transform: translate(-50%, -50%);
}

.titulo{
    color: #2C1320;
    text-transform: uppercase;
}

p{
    color: #2C1320;
}

a{
    color: #2C1320;
    text-decoration: none;
}

a:hover{
    color: #0D324D;
    text-decoration: underline;
}

.box input[type= 'text'], .box input[type= 'password'], .box input[type= 'submit']{
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2C1320;
    padding: 14px 40px;
    outline: none;
    color: #2C1320;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
}

.box input[type= 'submit']{
    margin-top: 40px;
}

.box input[type= 'submit']:hover{
    background: #56667A;
}

.box input[type= 'submit']::before{
    content: "";
    background: #56667A;
}

/*Página Cadastro*/
.box-2{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #8797AF;
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    transform: translate(-50%, -50%);   
}

.box-2 input[type= 'text'], .box-2 input[type= 'password'], .box-2 input[type= 'submit'], .box-2 input[type= 'email']{
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2C1320;
    padding: 14px 40px;
    outline: none;
    color: #2C1320;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;    
}

.box-2 input[type= 'submit']{
    margin-top: 40px;
}