*{
    margin: 0px;
    padding: 0px;
}



/*Placeholder*/
::-webkit-input-placeholder {
    color: #56667A;
 }
 :-moz-placeholder {
    color: #56667A;  
 } 
 ::-moz-placeholder {
    color: #56667A; 
 }
 :-ms-input-placeholder {  
    color: #56667A; 
 }

body{
    font-family: sans-serif;
    background: #56667A;
    -webkit-font-smoothing: antialiased;
}



/*Index*/
.cabecalho ul{
    overflow: hidden;
    list-style-type: none;
    margin: 10px 10px;
}

.cabecalho li{
    float: right;
    margin: 3px;
}

.cabecalho li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: #2C1320;
    background-color: #8797AF;
    border-radius: 18px;
}

.cabecalho li a:hover{
    background-color: #2C1320;
    color: #8797AF;
    transition: 0.7s;
}


/*Página Login*/
.box{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #8797AF;
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    transform: translate(-50%, -50%);
}

.titulo{
    color: #2C1320;
    text-transform: uppercase;
}

p{
    color: #2C1320;
}

.ipt a{
    color: #2C1320;
    text-decoration: none;
}

.ipt a:hover{
    color: #0D324D;
    text-decoration: underline;
}

.box input[type= 'text'], .box input[type= 'password'], .box input[type= 'submit']{
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2C1320;
    padding: 14px 40px;
    outline: none;
    color: #2C1320;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
}

.box input[type= 'submit']{
    margin-top: 40px;
}

.box input[type= 'submit']:hover{
    transition: 0.7s;
    color: #8797AF;
    background: #2C1320;
}

.box input[type= 'submit']::before{
    content: "";
    background: #56667A;
}



/*Página Cadastro*/
.box-2{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #8797AF;
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    transform: translate(-50%, -50%);   
}

.box-2 input[type= 'text'], .box-2 input[type= 'password'], .box-2 input[type= 'submit'], .box-2 input[type= 'email']{
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2C1320;
    padding: 14px 40px;
    outline: none;
    color: #2C1320;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;    
}

.box-2 input[type= 'submit']{
    margin-top: 40px;
}